.button {
  color: #fff;
  background-color: rgb(9, 185, 9);
  border: none;
  padding: 0.7em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  color: grey !important;
}

@media all and (max-width: 512px) {
}
