.headerDiv {
  margin: 10px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 512px) {
  .headerDiv {
    margin: 1em 0 0 0;
  }
}
